//  Configuration File

manifest {
    name = 'Cloud based Vaccine pipeline'
    description = 'Runs prokka in parallel, then prepares a collated roary report'
    author = 'qinying.xu@csiro.au'
    version = '1.0'
    nextflowVersion = '>=24.04.4'
}

// Variables
def currentDate = new Date()
def timestamp = currentDate.format("yyyyMMddHHmmss")

params {
    year          = currentDate.format("yyyy")
    month         = currentDate.format("MM")
    day		  = currentDate.format("MM")
    uuid   = UUID.randomUUID().toString().substring(0, 8) // Short UUID
    runid  = "run-" + timestamp

    threads_prokka = 2
    threads_roary = 8
    
    results = "s3://bucket/project/results/${runid}/"
    input = "s3://bucket/project/data/test/*.fasta"
}

params.outputPath = "$params.results/output"

profiles {
    local {
        process {
            executor = 'local'
            errorStrategy = "terminate"
            publishDir.mode = "symlink"
            stageInMode = "symlink"
            stageOutMode = "copy"
            shell = ['/bin/bash', '-eo', 'pipefail']
        }
        wave.enabled = true
    	wave.strategy = ['dockerfile','container']
    }

    aws {
	process {
            executor = 'awsbatch' 
            errorStrategy = "terminate"
            publishDir.mode = "copy"
            stageInMode = "copy"
            stageOutMode = "copy" 
            shell = ['/bin/bash', '-eo', 'pipefail']
        }
        region = 'ap-southeast-2'
    }

    Fargate {
        wave.enabled = false
	process {
            queue = 'fargate_job_queue'
            withLabel: prokka {
		container = 'job-definition://arn:aws:batch:ap-southeast-2:account:job-definition/fargate-job-prokka:11'
            	cpus=2
            	memory = 4.GB
            }
            withLabel: roary {
		container = 'job-definition://arn:aws:batch:ap-southeast-2:account:job-definition/fargate-job-roary:11'
            	cpus=8
            	memory = 16.GB
            }
	}
    }
}

aws {
    client {
        maxConnections = 20
        connectionTimeout = 10000
        uploadStorageClass = 'STANDARD'
        storageEncryption = 'AES256'
    }
}

docker {
    enabled = true
    fixOwnership = true
    sudo = true
    runOptions = '--platform linux/amd64'
}

race {
    enabled = true
    file = "${params.results}/trace.${params.runid}.txt"
    fields = 'task_id,name,status,exit,realtime,%cpu,rss'
    overwrite = true
}

timeline {
    enabled = true
    file = "${params.results}/timeline.${params.runid}.html"
    overwrite = true
}

report {
    enabled = true
    file = "${params.results}/report.${params.runid}.html"
    overwrite = true
}
dag {
    enabled = true
    file = "${params.results}/flowchart.${params.runid}.html"
    overwrite = true
}



